@charset "utf-8"

html { margin:0 auto; height:100%;  overflow-y:scroll;  font-family:HYGoThic-Medium-H;}

html>/**/body { overflow-y: scroll; }

body { margin:0; padding:0; width:100%; font-family: Malgun Gothic, 맑은 고딕, Apple SD Gothic Neo; font-size:12px; color:#777777; line-height:19px; letter-spacing:-1px; -webkit-text-size-adjust: 100%; }

select {font-family: Malgun Gothic, 맑은 고딕, Apple SD Gothic Neo !important;}
div, dl ,dt ,dd ,ul ,ol, li ,h1, h2, h3, h4, h5, h6, form, input, textarea, p, span, th, td { margin:0; padding:0; }

h4 { display:inline-block;}

ul, ol, li { list-style:none; }

img { border:0; }
button {cursor : pointer; font-family: Malgun Gothic, 맑은 고딕, Apple SD Gothic Neo; font-size:12px;color:#777777;vertical-align:middle;padding:0px 2px 2px 2px;background-color:#fefefe; line-height:1.2; border:none;outline-style:none;}
button:disabled { color:#999; }
input[type=text]::-ms-clear { display: none; }

a { text-decoration:none; outline:0; color:#666666; }
a:link, a:active, a:visited { color:#666666; text-decoration:none; }

pre { font-family: Malgun Gothic, 맑은 고딕, Apple SD Gothic Neo; white-space: pre-line; }

xmp {  white-space: pre-line; font-family:dotum; }

.border_collapse { border-collapse: separate; }

.placeholder { color:#aaa !important; }

.n_linethrough { text-decoration: none !important;}
.linethrough { text-decoration: line-through;}

.default { cursor:default; }
.hand { cursor:pointer; cursor:hand; }
.block { display:block !important; }
.none	 { display:none !important; }
.show { visibility:visible !important; }
.hide { visibility:hidden !important; }
.t_hide { display:none; }

/* Layout */
.val_t { vertical-align:top; }
.val_m { vertical-align:middle; }
.val_b { vertical-align:bottom; }
.position_s { position:static !important; }
.position_a { position:absolute !important; }
.position_r { position:relative !important; }
.fl_l { float:left !important; }
.fl_r { float:right !important; }
.fl_n { float:none !important; }
.cr_l { clear:left; }
.cr_r { clear:right; }
.cr_b { clear:both; }
.inline { display:inline !important; }
.inline_b { display:inline-block !important; }
.t_inline { display:inline}

.pd_0 { padding:0 !important; }
.pd_10 { padding:10px !important; }
.pdt_0 {padding-top:0 !important;}
.pdb_0 {padding-bottom:0 !important;}
.pdl_0 { padding-left:0px !important; }
.pdl_1 { padding-left:1px !important; }
.pdl_2 { padding-left:2px !important; }
.pdl_3 { padding-left:3px !important; }
.pdl_4 { padding-left:4px !important; }
.pdl_5 { padding-left:5px !important; }
.pdl_6 { padding-left:6px !important; }
.pdl_7 { padding-left:7px !important; }
.pdl_8 { padding-left:8px !important; }
.pdl_9 { padding-left:9px !important; }
.pdl_10 { padding-left:10px !important; }
.pdl_11 { padding-left:11px !important; }
.pdl_12 { padding-left:12px !important; }
.pdl_13 { padding-left:13px !important; }
.pdl_15 { padding-left:15px !important; }
.pdl_16 { padding-left:16px !important; }
.pdl_17 { padding-left:17px !important; }
.pdl_18 { padding-left:18px !important; }
.pdl_19 { padding-left:19px !important; }
.pdl_20 { padding-left:20px !important; }
.pdl_22 { padding-left:22px !important; }
.pdl_23 { padding-left:23px !important; }
.pdl_24 { padding-left:24px !important; }
.pdl_25 { padding-left:25px !important; }
.pdl_26 { padding-left:26px !important; }
.pdl_27 { padding-left:27px !important; }
.pdl_30 { padding-left:30px !important; }
.pdl_32 { padding-left:32px !important; }
.pdl_33 { padding-left:33px !important; }
.pdl_35 { padding-left:35px !important; }
.pdl_36 { padding-left:36px !important; }
.pdl_37 { padding-left:37px !important; }
.pdl_39 { padding-left:39px !important; }
.pdl_43 { padding-left:43px !important; }
.pdl_44 { padding-left:44px !important; }
.pdl_45 { padding-left:45px !important; }
.pdl_50 { padding-left:50px !important; }
.pdl_54 { padding-left:54px !important; }
.pdl_67 { padding-left:67px !important; }
.pdl_77 { padding-left:77px !important; }
.pdl_80 { padding-left:80px !important;}
.pdl_101 { padding-left:101px !important;}
.pdr_0 { padding-right:0px !important; }
.pdr_2 { padding-right:2px !important; }
.pdr_3 { padding-right:3px !important; }
.pdr_4 { padding-right:4px !important; }
.pdr_5 { padding-right:5px !important; }
.pdr_6 { padding-right:6px !important; }
.pdr_7 { padding-right:7px !important; }
.pdr_8 { padding-right:8px !important; }
.pdr_9 { padding-right:9px !important; }
.pdr_10 { padding-right:10px !important; }
.pdr_11 { padding-right:11px !important; }
.pdr_14 { padding-right:14px !important; }
.pdr_15 { padding-right:15px !important; }
.pdr_16 { padding-right:16px !important; }
.pdr_17 { padding-right:17px !important; }
.pdr_21 { padding-right:21px !important; }
.pdr_22 { padding-right:22px !important; }
.pdr_28 { padding-right:28px !important; }
.pdr_30 { padding-right:30px !important; }
.pdr_31 { padding-right:31px !important; }
.pdr_35 { padding-right:35px !important; }
.pdr_42 { padding-right:42px !important; }
.pdr_55 { padding-right:55px !important; }
.pdr_62 { padding-right:72px !important; }
.pdr_71 { padding-right:71px !important; }
.pdr_85 { padding-right:85px !important; }
.pdr_100 { padding-right:100px !important; }
.pdt_0 { padding-top:0px !important; }
.pdt_1 { padding-top:1px !important; }
.pdt_2 { padding-top:2px !important; }
.pdt_3 { padding-top:3px !important; }
.pdt_4 { padding-top:4px !important; }
.pdt_5 { padding-top:5px !important; }
.pdt_6 { padding-top:6px !important; }
.pdt_7 { padding-top:7px !important; }
.pdt_8 { padding-top:8px !important; }
.pdt_9 { padding-top:9px !important; }
.pdt_10 { padding-top:10px !important; }
.pdt_11 { padding-top:11px !important; }
.pdt_12 { padding-top:12px !important; }
.pdt_13 { padding-top:13px !important; }
.pdt_14 { padding-top:14px !important; }
.pdt_15 { padding-top:15px !important; }
.pdt_17 { padding-top:17px !important; }
.pdt_18 { padding-top:18px !important; }
.pdt_19 { padding-top:19px !important; }
.pdt_20 { padding-top:20px !important; }
.pdt_21 { padding-top:21px !important; }
.pdt_22 { padding-top:22px !important; }
.pdt_23 { padding-top:23px !important; }
.pdt_24 { padding-top:24px !important; }
.pdt_25 { padding-top:25px !important; }
.pdt_26 { padding-top:26px !important; }
.pdt_27 { padding-top:27px !important; }
.pdt_28 { padding-top:28px !important; }
.pdt_29 { padding-top:29px !important; }
.pdt_30 { padding-top:30px !important; }
.pdt_31 { padding-top:31px !important; }
.pdt_32 { padding-top:32px !important; }
.pdt_33 { padding-top:33px !important; }
.pdt_37 { padding-top:37px !important; }
.pdt_42 { padding-top:42px !important; }
.pdt_43 { padding-top:43px !important; }
.pdt_44 { padding-top:44px !important; }
.pdt_46 { padding-top:46px !important; }
.pdt_50 { padding-top:50px !important; }
.pdt_56 { padding-top:56px !important; }
.pdb_2 { padding-bottom:2px !important; }
.pdb_3 { padding-bottom:3px !important; }
.pdb_4 { padding-bottom:4px !important; }
.pdb_5 { padding-bottom:5px !important; }
.pdb_6 { padding-bottom:6px !important; }
.pdb_7 { padding-bottom:7px !important; }
.pdb_8 { padding-bottom:8px !important; }
.pdb_9 { padding-bottom:9px !important; }
.pdb_10 { padding-bottom:10px !important; }
.pdb_12 { padding-bottom:12px !important; }
.pdb_14 { padding-bottom:14px !important; }
.pdb_15 { padding-bottom:15px !important; }
.pdb_17 { padding-bottom:17px !important; }
.pdb_18 { padding-bottom:18px !important; }
.pdb_25 { padding-bottom:25px !important; }
.pdb_30 { padding-bottom:30px !important; }

.mg_0 { margin:0 !important; }
.mgl_0 { margin-left:0px !important; }
.mgl_1 { margin-left:1px !important; }
.mgl_2 { margin-left:2px !important; }
.mgl_3 { margin-left:3px !important; }
.mgl_4 { margin-left:4px !important; }
.mgl_5 { margin-left:5px !important; }
.mgl_6 { margin-left:6px !important; }
.mgl_7 { margin-left:7px !important; }
.mgl_8 { margin-left:8px !important; }
.mgl_9 { margin-left:9px !important; }
.mgl_10 { margin-left:10px !important; }
.mgl_11 { margin-left:11px !important; }
.mgl_12 { margin-left:12px !important; }
.mgl_13 { margin-left:13px !important; }
.mgl_14 { margin-left:14px !important; }
.mgl_15 { margin-left:15px !important; }
.mgl_16 { margin-left:16px !important; }
.mgl_17 { margin-left:17px !important; }
.mgl_19 { margin-left:19px !important; }
.mgl_20 { margin-left:20px !important; }
.mgl_22 { margin-left:22px !important; }
.mgl_25 { margin-left:25px !important; }
.mgl_26 { margin-left:26px !important; }
.mgl_27 { margin-left:27px !important; }
.mgl_29 { margin-left:29px !important; }
.mgl_30 { margin-left:30px !important; }
.mgl_32 { margin-left:32px !important; }
.mgl_33 { margin-left:33px !important; }
.mgl_35 { margin-left:35px !important; }
.mgl_37 { margin-left:37px !important; }
.mgl_38 { margin-left:38px !important; }
.mgl_49 { margin-left:49px !important; }
.mgl_55 { margin-left:55px !important; }
.mgl_61 { margin-left:61px !important; }
.mgl_70 { margin-left:70px !important; }
.mgl_75 { margin-left:75px !important; }
.mgl_82 { margin-left:82px !important; }
.mgl_95 { margin-left:95px !important; }
.mgl_180 { margin-left:180px !important; }
.mgl_220 { margin-left:220px !important; }
.mgr_0 { margin-right:0px !important; }
.mgr_3 { margin-right:3px !important; }
.mgr_4 { margin-right:4px !important; }
.mgr_5 { margin-right:5px !important; }
.mgr_6 { margin-right:6px !important; }
.mgr_8 { margin-right:8px !important; }
.mgr_10 { margin-right:10px !important; }
.mgr_11 { margin-right:11px !important; }
.mgr_12 { margin-right:12px !important; }
.mgr_13 { margin-right:13px !important; }
.mgr_15 { margin-right:15px !important; }
.mgr_16 { margin-right:16px !important; }
.mgr_17 { margin-right:17px !important; }
.mgr_18 { margin-right:18px !important; }
.mgr_19 { margin-right:19px !important; }
.mgr_20 { margin-right:20px !important; }
.mgr_22 { margin-right:22px !important; }
.mgr_24 { margin-right:24px !important; }
.mgr_25 { margin-right:25px !important; }
.mgr_29 { margin-right:29px !important; }
.mgr_35 { margin-right:35px !important; }
.mgr_40 { margin-right:40px !important; }
.mgr_77 { margin-right:77px !important; }
.mgr_80 { margin-right:80px !important; }
.mgr_85 { margin-right:85px !important; }
.mgr_88 { margin-right:88px !important; }
.mgr_90 { margin-right:90px !important; }
.mgr_95 { margin-right:95px !important; }
.mgr_96 { margin-right:96px !important; }
.mgr_97 { margin-right:97px !important; }
.mgr_130 { margin-right:130px !important; }
.mgr_135 { margin-right:135px !important; }
.mgt_0 { margin-top:0px !important; }
.mgt_1 { margin-top:1px !important; }
.mgt_2 { margin-top:2px !important; }
.mgt_3 { margin-top:3px !important; }
.mgt_4 { margin-top:4px !important; }
.mgt_5 { margin-top:5px !important; }
.mgt_6 { margin-top:6px !important; }
.mgt_7 { margin-top:7px !important; }
.mgt_8 { margin-top:8px !important; }
.mgt_9 { margin-top:9px !important; }
.mgt_10 { margin-top:10px !important; }
.mgt_11 { margin-top:11px !important; }
.mgt_12 { margin-top:12px !important; }
.mgt_13 { margin-top:13px !important; }
.mgt_14 { margin-top:14px !important;}
.mgt_15 { margin-top:15px !important; }
.mgt_16 { margin-top:16px !important; }
.mgt_17 { margin-top:17px !important; }
.mgt_18 { margin-top:18px !important; }
.mgt_19 { margin-top:19px !important; }
.mgt_20 { margin-top:20px !important; }
.mgt_21 { margin-top:21px !important; }
.mgt_22 { margin-top:22px !important; }
.mgt_23 { margin-top:23px !important; }
.mgt_24 { margin-top:24px !important; }
.mgt_25 { margin-top:25px !important; }
.mgt_26 { margin-top:26px !important; }
.mgt_27 { margin-top:27px !important; }
.mgt_28 { margin-top:28px !important; }
.mgt_30 { margin-top:30px !important; }
.mgt_33 { margin-top:33px !important; }
.mgt_34 { margin-top:34px !important; }
.mgt_35 { margin-top:35px !important; }
.mgt_38 { margin-top:38px !important; }
.mgt_40 { margin-top:40px !important; }
.mgt_42 { margin-top:42px !important; }
.mgt_44 { margin-top:44px !important; }
.mgt_45 { margin-top:45px !important; }
.mgt_48 { margin-top:48px !important; }
.mgt_50 { margin-top:50px !important; }
.mgt_52 { margin-top:52px !important; }
.mgt_53 { margin-top:53px !important; }
.mgt_54 { margin-top:54px !important; }
.mgt_55 { margin-top:55px !important; }
.mgt_58 { margin-top:58px !important; }
.mgt_59 { margin-top:59px !important; }
.mgt_60 { margin-top:60px !important; }
.mgt_62 { margin-top:62px !important; }
.mgt_63 { margin-top:63px !important; }
.mgt_70 { margin-top:70px !important; }
.mgt_75 { margin-top:75px !important; }
.mgt_80 { margin-top:80px !important; }
.mgt_85 { margin-top:85px !important; }
.mgt_90 { margin-top:90px !important; }
.mgt_95 { margin-top:95px !important; }
.mgt_120 { margin-top:120px !important; }
.mgb_0 { margin-bottom:0px !important; }
.mgb_1 { margin-bottom:1px !important; }
.mgb_3 { margin-bottom:3px !important; }
.mgb_4 { margin-bottom:4px !important; }
.mgb_5 { margin-bottom:5px !important; }
.mgb_6 { margin-bottom:6px !important; }
.mgb_7 { margin-bottom:7px !important; }
.mgb_8 { margin-bottom:8px !important; }
.mgb_10 { margin-bottom:10px !important; }
.mgb_12 { margin-bottom:12px !important; }
.mgb_13 { margin-bottom:13px !important; }
.mgb_14 { margin-bottom:14px !important; }
.mgb_15 { margin-bottom:15px !important; }
.mgb_19 { margin-bottom:19px !important; }
.mgb_20 { margin-bottom:20px !important; }
.mgb_22 { margin-bottom:22px !important; }
.mgb_24 { margin-bottom:24px !important; }
.mgb_25 { margin-bottom:25px !important; }
.mgb_26 { margin-bottom:26px !important; }
.mgb_27 { margin-bottom:27px !important; }
.mgb_28 { margin-bottom:28px !important; }
.mgb_30 { margin-bottom:30px !important; }
.mgb_32 { margin-bottom:32px !important; }
.mgb_33 { margin-bottom:33px !important; }
.mgb_34 { margin-bottom:34px !important; }
.mgb_35 { margin-bottom:35px !important; }
.mgb_36 { margin-bottom:36px !important; }
.mgb_37 { margin-bottom:37px !important; }
.mgb_38 { margin-bottom:38px !important; }
.mgb_39 { margin-bottom:39px !important; }
.mgb_40 { margin-bottom:40px !important; }
.mgb_41 { margin-bottom:41px !important; }
.mgb_42 { margin-bottom:42px !important; }
.mgb_43 { margin-bottom:43px !important; }
.mgb_44 { margin-bottom:44px !important; }
.mgb_45 { margin-bottom:45px !important; }
.mgb_46 { margin-bottom:46px !important; }
.mgb_47 { margin-bottom:47px !important; }
.mgb_48 { margin-bottom:48px !important; }
.mgb_50 { margin-bottom:50px !important; }
.mgb_52 { margin-bottom:52px !important; }
.mgb_55 { margin-bottom:55px !important; }
.mgb_56 { margin-bottom:56px !important; }
.mgb_60 { margin-bottom:60px !important; }
.mgb_70 { margin-bottom:70px !important; }
.mgb_75 { margin-bottom:75px !important; }
.mgb_80 { margin-bottom:80px !important; }
.mgb_91 { margin-bottom:91px !important; }
.mgb_100 { margin-bottom:100px !important; }
.mgb_195 { margin-bottom:195px !important; }
.mgb_200 { margin-bottom:200px !important; }

.height_20 { height:20px !important;}
.height_32 { height:32px !important;}
.height_35 { height:35px !important;}
.height_42 { height:42px !important; }
.height_46 { height:46px !important; }
.height_51 { height:51px !important; }
.height_75 { height:75px !important; }

.width_85 { width:85% !important; }
.width_100 { width:100% !important; }
.width_340px { width:340px !important; }
.width_582px { width:582px !important; }
/* Text */
.al_l { text-align:left !important; }
.al_c { text-align:center !important; }
.al_r { text-align:right !important; }


/* Font */
.dotum { font-family:Dotum, dotum, tahoma, sans-serif; }
.batang { font-family:Batang, batang, tahoma, sans-serif; }
.bold { font-weight:bold !important; }
.normal { font-weight:normal !important; }
.letspc { letter-spacing:-1px; }
.letspc_05m{letter-spacing: -0.5px;}
.letspc_15m{letter-spacing : -1.5px;}
.letspc_0 { letter-spacing:0px; }
.letspc_05 { letter-spacing:0.5px; }
.underline { text-decoration:underline !important; }

.ft_1 { font-size:1px; line-height:1px; }
.ft_9 { font-size:9px; line-height:9px; }
.ft_10 { font-size:10px; line-height:10px; }
.ft_11 { font-size:11px; line-height:11px; }
.ft_12 { font-size:12px; line-height:12px; }
.ft_13 { font-size:13px; line-height:13px; }
.ft_14 { font-size:14px; line-height:14px; }
.ft_15 { font-size:15px; line-height:15px; }
.ft_16 { font-size:16px; line-height:16px; }
.ft_18 { font-size:18px !important; }
.ft_19 { font-size:19px; line-height:19px; }
.ft_19_im { font-size:19px !important ; line-height:19px; }
.ft_20 { font-size:20px; line-height:20px; }
.ft_20_im { font-size:20px !important; line-height:20px; }
.ft_21 { font-size:21px !important; line-height:21px; }
.ft_24 { font-size:24px; line-height:24px; }

.lh_0 { line-height:0px !important; }
.lh_10 { line-height:10px !important; }
.lh_11 { line-height:11px !important; }
.lh_12 { line-height:12px !important; }
.lh_13 { line-height:13px !important; }
.lh_14 { line-height:14px !important; }
.lh_15 { line-height:15px !important; }
.lh_16 { line-height:16px }
.lh_17 { line-height:17px !important; }
.lh_18 { line-height:18px !important; }
.lh_19 { line-height:19px !important; }
.lh_20 { line-height:20px !important; }
.lh_21 { line-height:21px !important; }
.lh_22 { line-height:22px !important; }
.lh_23 { line-height:23px !important; }
.lh_24 { line-height:24px !important; }
.lh_25 { line-height:25px !important; }
.lh_26 { line-height:26px !important; }
.lh_27 { line-height:27px !important; }
.lh_28 { line-height:28px !important; }
.lh_29 { line-height:29px !important; }
.lh_30 { line-height:30px !important; }


/* Color */
.red { color:#FF0000 !important; }
.red2 { color:#ff4b4b !important; }
.leeRed { color:#e13a40 !important;}
.blue { color:#0071c9 !important; }
.blue2 { color:#0071c9 !important; }
.blue3 { color:#0071c9 !important; }
.white { color:#FFFFFF !important; }
.green { color:#00817b !important; }
.green2 { color:#299296 !important; }
.gray { color:#999999 !important; }
.gray_deep { color:#777 !important; }
.gray2 { color:#666666 !important; }
.darkgray { color:#444444 !important; }
.lgray { color:#BBBBBB !important; }
.black { color:#000000 !important; }
.orange { color:#F8700D !important; }
.purple { color:#A566FF !important; }
.redclay { color:#fd8316 !important; }
.highlight { color:#FF0000 !important; }
.h_blue { color:#2881c6 !important; }
.c_333 { color:#333 !important; }
.c_555 { color:#555 !important; }
.c_777 { color:#777 !important; }
.c_999 { color:#999 !important; }


/* Table no border */
.noborder_l {border-left:0px !important; }
.noborder_r {border-right:0px !important; }
.noborder_t {border-top:0px !important; }
.noborder_b {border-bottom:0px !important; }
.bg_none { background:none !important; }
.wbr {/*word-break;break-all;*/ word-wrap:break-word;}

.over_y_h { overflow-y:hidden;  margin: 0 0 0 0; }
.over_x_h { overflow-x:hidden; }
.over_y_nh { overflow-y:scroll; padding: 0; }

/* box-sizing */
.border_box { box-sizing: border-box; }